<!DOCTYPE html>
<!-- inheriting base file content -->
<html lang="en" th:replace="base::layout(~{::section})">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section>
      <h1>this is new contact section</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum totam
        a, tempore magnam, dignissimos mollitia unde neque sapiente, sequi amet
        in quia consequatur laudantium officia voluptates aliquid reprehenderit
        exercitationem libero incidunt. Nostrum optio magni dolorum quidem natus
        dolorem sequi ea repudiandae ducimus quos recusandae veniam vero, hic
        vitae alias? Esse?
      </p>
    </section>
  </body>
</html>
